doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title reset password
    body 
        h1=`Hii,${name}`
        p if you forgot your password then don't worry go to this link 
        a(href=`${url}`,target="_blank") click here 