doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title email
    body 
        h1=`Hii,${name}`
        p hiii and a huge welcome from Team [Brand/Company Name]! We're thrilled to have you with us. Get ready for a memorable time and a great experience. We're just a message away if you need anything.
        a(href=`${url}`) click here 
        p=subject 