footer.footer 
    .footer-about   
        .logo-name CHANDRA 
            br
            span academy
        .para We at CHANDRA ACADEMY provide a stimulating, safe and supportive environment in which all our student can aim for success. It is our mission to impart information, skills and process which prepare student to function effectively in a rapidly changing world.
        .socials 
            a(href="https://www.facebook.com/profile.php?id=61556794866402",target="_blank")
                img(src="/./images/facebook-icon.svg", alt="alt")
            a(href="https://www.instagram.com/chandra_academy__?igsh=MTd3czd2d2Fyb3F1eA==",target="_blank")
                img(src="/./images/insta-icon.svg", alt="alt")
            a(href="/")
                img(src="/./images/whatsapp-icon.svg", alt="alt")
            a(href="https://www.youtube.com/@ChandraAcademy.", target="_blank")
                img(src="/./images/youtube-icon.svg", alt="alt")
    .footer-nav
        h3 pages 
        ul 
            li: a(href="/") home
            li: a(href="/about") about
            li: a(href="/teachers") staff
            li: a(href="/results") results
            li: a(href="/fecility") facilities
            li: a(href="/#contact") enroll
            li: a(href="/login") login
            li: a(href="/signup") register
    //- .footer-nav
    //-     h3 useful links
    //-     ul 
    //-         li: a(href="/") link1
    //-         li: a(href="/") link2
    //-         li: a(href="/") link3
    //-         li: a(href="/") link4
    //-         li: a(href="/") link5
    .footer-location  
        h3 chandra academy
        .para Near Bank of India, Ambedkar Chowk, Sonepur, Dist: Subarnapur, Odisha, 767017
        .contact-num +91 9861808323
.copyright © Copyright 2024 by Chandra Academy