extend base

block content 
    section.about-page
        .page-head.about-head-img 
            h2 about
        .about-page-container 
            .about-page-intro
                .align-center.about-page-heading 
                    h3 introduction
                .about-page-img.about-intro-img 
                .about-page-intro-para
                    p.para CHANDRA ACADEMY is a residential and reliable institute located at Ambedkar Chowk, near bank of India, Sonepur .It is imparting coaching to CBSE ,CHSE and ICSE students  of classes 6th to 10th,for all subjects like Math, Science, English, Social Science, Hindi, Odia and Sanskrit including basic knowledge of Computer and also since 2021 CHANDRA ACADEMY has started 11th  and 12th for arts and science both for CHSE  and CBSE students,  preparing for JEE and NEET entrance exam as well as for different competitive exams.
    
                    p.para CHANDRA ACADEMY, a unique coaching institution working towards student’s education and experience them a new style of coaching by our experience subject faculties / staff. The Coaching center dedicated to student’s aspiration for excellence in their respective studies. 
    
                    p.para CHANDRA ACADEMY always has ultimate objectives is to provide proper conceptual knowledge and temperament along with basic human value, which would help the student to mold their character to become a better human. Our aim is to provide ample facility to each student, so that they will be able to succeed in the competitive future and feel happy.
    
                    p.para CHANDRA ACADEMY is one of the best coaching institutes. It is registered under the Odisha government bearing Reg. No-1/2920230800070 of 2023-24, managed by SRI HARI SIKSHYA SANGATHAN, under which PURNIMA EDUCATIONAL AND CHARITABLE TRUST is run. It provides free education to poor and orphan children. Through this trust we teach old illiterate people of the rural areas to be literate.
    
                    p.para CHANDRA ACADEMY has adapted and accepted the implementation of modern systems, adopting latest technologies in teaching methodologies and development making education a truly global. Preparing new generation students to succeed in this challenging environment demand a flexible and real world based approach to education.
    
                    p.para CHANDRA ACADEMY started with 7 students in the year 2007. Since then the CHANDRA ACADEMY has won the trust of the parents and more than 1000 students have passed out from the respective schools with better results. Many students have cracked JEE, NEET, OUAT and CUET entrance examinations and have become Doctors and Engineers and many others have got their different Government jobs. For the past 17 years CHANDRA ACADEMY has proved that it is a timely tested reliable institution. Student can secure good marks and good positions in their respective classes with clear understanding of the concepts and constant guidance from our experience teachers.
    
                    p.para In our short span of history, this institution is known for its academic excellence and impact on the students towards their study and beyond as well. This is the place where your child dreams and aspiration are built successfully.
    
            .about-page-intro
                .align-center.about-page-heading 
                    h3 why chandra academy
                .about-page-img.about-why-img 
                .about-page-intro-para
                    b.para-heading We have here listed down few points which are our differentiators from other institutes in the same field.
                    ol.para-list 
                        li Teaching based organization
                        li Permanent, full-time highly qualified and dedicated faculty
                        li Cooperative, caring administrative staff
                        li Appreciable result ratio of successful students to enrolled students
                        li Ample of question to practice, capturing all flavors and difficulty levels
                        li Lots of home assignments for practice
                        li Complete academic year planning at start of session
                        li Regular Tests (weekly/chapter-wise/phase/complete length/E-test series)
                        li Through discussion on each test in successive lecture
                        li Fixed time table
                        li Small batch size-(20)
                        li Separate dedicated time for slow learner.
                        li Provide all study materials from institute.
                        li Individual doubt clearance sessions
                        li Comfortable speed of syllabus coverage with enough buffers.
                        li Prime focus on concept building
                        li Equal emphasis on CHSE, CBSE and ICSE board examinations
                        li Regular conducting PTMs
                        li Test results via text message to parents.
                        li Attendance follow up
                        li Periodic Motivational counseling sessions
                        li Reasonable fees.
            .about-page-intro
                .align-center.about-page-heading 
                    h3 aim and objective
                .about-page-img.about-why-img 
                .about-page-intro-para
                    ol.para-list 
                        li Valued education is given to the students from Class 6 th to Class 12 th (CBSE, CHSE, ICSE medium)
                        li In the upcoming session, there will be two (2) sections in each class and the number of students in each section will be limited to twenty (20) only.
                        li We aim at entertaining the doubts and the queries of the students and make them practice the types of questions which will be beneficial from the exam point of view.
                        li Notes on each topic are made available to the students after the completion and proper understanding of each concept. This initiative prevents them from being dependent on other secondary sources, such as:-mobile phones.
                        li A study environment is very important for better learning and we, as a reputed institution are trying our best to provide the students with those facilities required.

                        li Children are the future of the country and a better future can only be gained by educating the students well. We endeavor to give extra classes to the students, even on holidays or when necessary, so that they can study and perform well in the class.
                        li If a student is weak in any subject, extra classes are provided for that particular subject after consulting the teacher.
                        li A small library is also available in the institution, so that children can borrow the books and use them for their required purpose.
                        li As guardians of many students are not well informed about the CBSE / ICSE medium of education, we happily take care of those students.
                        li This institute aims on creating the best of teachers, doctors and engineers and administrative officers with better personality. We give importance in building the character of the students.
                        li Especially we aim at generating employment for those teachers who, despite being skillful and talented, doesn’t have government jobs. We want the students to be benefitted from those knowledgeable and highly qualified teachers.
                        li Through this initiative, the teachers will be benefitted too by imparting their knowledge with the students.
                        li Our institutions, CHANDRA ACADEMY is planning to start competitive preparation like - JEE, OUAT, NEET ,CUET ,Olympiad exam for the students, who are going to distant university for professional courses, so that they can get the best teaching in their own district
                        li We aim at charging the lowest possible tuition fees considering the income of the people in our lower class.

            .about-page-intro
                .align-center.about-page-heading 
                    h3 director's message
                .director-msg 
                    .director-img 
                        img(src="/./images/chandra-sir-2.jpg", alt="")
                    .about-page-intro-para
                        h2 chandra sekhar meher
                        p.para-heading “It is a great opportunity for me to introduce CHADNRA ACADEMY, a leading education coaching center in Sonepur, Odisha. Academic excellence, holistic education and innovative approach are inbuilt in our institute teaching learning process. I invite you to be a part of our institution and to learn and gain from our experienced and committed faculty”.