doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="chandra academy,coaching center,coaching center in sonepur,best coaching in sonepur,best coaching center in sonepur,best institute,best institute in sonepur,chandra tutorial,chandara coaching,reputed coaching in sonepur,coaching for 6th to 10th,art's coaching center,coaching for neet and jee in sonepur,sonepur,hostel in sonepur")
        meta(name="description", content="Welcome to Chandra Academy. It is a time tested and releable residential institute for HSC/CBSE/ICSE medium students for class 6th to 12th. It has been started since 2007. Admission open. where foundation course for NEET & JEE are available & Summer course for class 6th to 12th")
        link(rel="shortcut icon", href="/./images/logo.png", type="image/x-icon")
        title Chandra Academy
        link(rel="stylesheet", href="/./css/common.css")
        link(rel="stylesheet", href="/./css/style.css")
        link(rel="stylesheet", href="/./css/responsive.css")
    body 
        //- include headers
        include _header 

        block content 

        
        include _footer
        script(src="https://checkout.razorpay.com/v1/checkout.js") 
        script(src="/./main.js") 
        script(src="/./index.js") 
        