extend base

block content 
    .facility 
        .facility-head.align-center 
            h2 facilities 
        .facility-main
            .align-center 
                h3 facilities
           
            ul.facility-nav.align-center 
                li: a(href="#facility-coaching-classes") COACHING CLASSES 
                li: a(href="#facility-faculty") FACULTY 
                li: a(href="#facility-hostel") HOSTEL 
                li: a(href="#facility-transport") TRANSPORT
                li: a(href="#facility-library") LIBRARY 
                li: a(href="#facility-smart-class") SMART CLASS 
                li: a(href="#facility-study-materials") STUDY MATERIALS 
                li: a(href="#facility-lab-activity") LAB ACTIVITY 
                li: a(href="#facility-ac-classrooms") AC CLASSROOMS 
                li: a(href="#facility-safe-drinking-water") SAFE DRINKING WATER 
                li: a(href="#facility-cctv-surveillance") CCTV SURVEILLANCE 
                li: a(href="#facility-fire-extinguisher") FIRE EXTINGUISHER 

    
            .facility-box.align-center#facility-coaching-classes  
                .facility-img 
                    img(src="/./images/class.jpg", alt="")
                .facility-about
                    h2 1.	COACHING CLASSES :-
                    p.para CHANDRA ACADEMY is a 17 years old trusted coaching center with in more than 300 students and 25 faculties and staffs. In CHANDRA ACADEMY we call classroom as a learning center. We have installed smart boards, projectors to clear all concepts clearly and install CCTV to enhance the class room study under one roof for each class. Each section of the class consists of maximum 20 students. Specialization of CHANDRA ACADEMY is to teach the students the most complicated concept in a simple and easy method.

            .facility-box.align-center#facility-faculty 
                .facility-about
                    h2 2.	FACULTY :-
                    p.para CHANDRA ACADEMY has highly experience and trained subject faculties. We do have got subjects expert and qualified teachers for both Odia and CBSE medium. The faculty members are hardworking and committed to their professional teaching. They don’t restricted themselves to only classroom teaching alone, rather they help each , rather they help each students to clear their doubts, fears anxiety and motivated them.
                .facility-img 
                    img(src="/./images/faculty.jpg", alt="")

            .facility-box.align-center#facility-hostel 
                .facility-img 
                    img(src="/./images/hostel.jpg", alt="")
                .facility-about 
                    h2 3.	HOSTEL :-
                    p.para CHANDRA ACADEMY provides Hostel facility as well as transportation to schools. Well maintained, well furnished, separate hostel for both boys and girls with resident teachers, separate boys and girls warden, secured environment, pure hygienic food (breakfast, lunch, snacks, dinner) makes the stay pleasant. We do have guest room facility for the parents if requires in an emergency. Proper and timely medical care with round the clock transport facility makes our hostel as Home.


            .facility-box.align-center#facility-library 
                .facility-about
                    h2 4.	LIBRARY :- 
                    p.para CHANDRA ACADEMY has a considerable library to help the needy students with study materials. Those students who are from the financially poor family, we help them with reference books, handouts, photocopies of notes and other study materials.

                .facility-img 
                    img(src="/./images/library.jpg", alt="")
            .facility-box.align-center#facility-transport
                .facility-img 
                    img(src="/./images/van.jpg", alt="")
                .facility-about 
                    h2 5.	TRANSPORT :- 
                    p.para CHANDRA ACADEMY does provide transport facility for all students of coaching and hostel. The students from different schools who are part of the CHANDRA ACADEMY are given this facility with affordable fees. We also provide transportation for the students of the town within 5Km distance with minimum fees. Students are taken with proper care and safety.
            .facility-box.align-center#facility-smart-class
                .facility-about 
                    h2 6.	SMART CLASS :-
                    p.para All the classes are furnished with smart boards. The teachers teach the students through PPTs to clear the doubts of the students. Students can watch the visuals of diagrams and pictures on the smart board, which makes complicated topics easier for the students.
                .facility-img 
                    img(src="/./images/smart.jpg", alt="")

            .facility-box.align-center#facility-study-materials
                .facility-img 
                    img(src="/./images/study-m.jpg", alt="")
                .facility-about 
                    h2 7.	STUDY MATERIALS :-
                    p.para Our institution, CHANDRA ACADEMY provides enough notes for each subject. We do provide teacher’s handwritten notes as well, which will help students to get the subject knowledge easily. Our study materials are prepared keeping in view the school / college syllabus.

            .facility-box.align-center#facility-lab-activity
                .facility-about 
                    h2 8.	LAB ACTIVITY :-
                    p.para In this digital and competitive world, the students need to have a basic knowledge of computers as it will help them in their future. We do have a computer lab, where students are taught the basics of Computer as well as their practical.

                    p.para The teachers do different Science Experiments and other lab activities, so that the students can do all the activities by themselves.
                .facility-img 
                    img(src="/./images/lab.jpg", alt="")

            .facility-box.align-center#facility-ac-classrooms
                .facility-img 
                    img(src="/./images/ac.jpg", alt="")
                .facility-about 
                    h2 9.	AC CLASSROOMS :-
                    p.para All the classrooms are furnished with AC to keep the students safe from heat. It provides the students with a comfortable and smooth environment, so that students will not be distracted from their studies.

            .facility-box.align-center#facility-safe-drinking-water
                .facility-about 
                    h2 10.	SAFE DRINKING WATER :-
                    p.para Keeping in mind the health and hygiene of the students, CHANDRA ACADEMY provides purified and safe cool drinking water. Both at hostel and coaching center, AQUAGUARD water is given to the students.
                .facility-img 
                    img(src="/./images/drinking.jpg", alt="")

            .facility-box.align-center#facility-cctv-surveillance 
                .facility-img 
                    img(src="/./images/cctv.jpg", alt="")
                .facility-about 
                    h2 11.	CCTV SURVEILLANCE :-
                    p.para We give the students a safety environment. Both Hostel and Coaching are secured with CCTV surveillance, so that everything will be under the watch of the management.

            .facility-box.align-center#facility-fire-extinguisher
                .facility-about 
                    h2 12.	FIRE EXTINGUISHER :- 
                    p.para For any sudden calamity due to fire, we keep Fire Extinguisher in both Hostel and Coaching. It will ensure safety of lives and properties.
                .facility-img 
                    img(src="/./images/fire.jpg", alt="")