extend base

block content
    section.container 
        .login-container 
            h2.login-heading reset password
            form.login-form#resetpassword(action=`${url}`) 
                label(for="reset-password") 
                    p.userpassword password 
                    input#reset-password(type="password", name="reset-password",placeholder="Enter your password")
                label(for="reset-confirmPassword") 
                    p.userpassword password 
                    input#reset-confirmPassword(type="password", name="reset-confirmPassword",placeholder="Enter confirm password")
                button.btn(type="submit") reset 
                .other 
                    p
                    | I  have an account.
                    a.signup-link(href="/login") login 
                    
                    