extend base 

block content 
    .result-page 
        .page-head.result-head-img 
            h2 result 
    .result-container 
        .result-heading.align-center
            h3 results
        ul.result-nav 
            li: a(href="#") 2018-2019
            li: a(href="#") 2019-2020
            li: a(href="#") 2020-2021
            li: a(href="#") 2021-2022
            li: a(href="#") 2022-2023
            li: a(href="#") 2023-2024
        .result-heading.align-center
            h3 toppers

        .result-main 
            .result-box.align-center
                .result-img 
                    img(src="/./images/default-user.png", alt="") 
                span.result-name student1
                .marks.align-center
                    span 91%
            .result-box.align-center 
                .result-img 
                    img(src="/./images/default-user.png", alt="")
                span.result-name student2
                .marks.align-center
                    span 91%
            .result-box.align-center 
                .result-img 
                    img(src="/./images/default-user.png", alt="")
                span.result-name student2
                .marks.align-center
                    span 91%
            .result-box.align-center 
                .result-img 
                    img(src="/./images/default-user.png", alt="")
                span.result-name student4
                .marks.align-center
                    span 91%
            .result-box.align-center 
                .result-img 
                    img(src="/./images/default-user.png", alt="")
                span.result-name student4
                .marks.align-center
                    span 91%
        .result-rank 
            .result-rannk-box.align-center
                .align-center
                    h2 90% +
                    span 30 Students

            .result-rannk-box.align-center
                .align-center
                    h2 80% +
                    span 162 Students
                    
            .result-rannk-box.align-center
                .align-center
                    h2 25 School
                    span RANKS

                

            