extend base 

block content 
    .teacher-page 
        .page-head.result-head-img 
            h2 our faculties 
    .teacher-container 
        .owner-container
            .owner-heading.align-center
                h3 director
            .owner-main 
                .owener-left 
                    span.sub-headings chandra academy 
                    h2.owner-h2 chandra sekhar meher
                    p.bold Director cum Co-Founder 
                    p.para Mathematics, Reasoning & Aptitude
                    p.para 17+ years of experience in teaching at primary & secondary  level in both Odia & English Medium. A versatile educator with a exceptional mastery in each & every subject (Math, Sci, Social St., Languages)  
                .owner-right 
                    img(src="/./images/chandra-sir.jpg", alt="photo of owner")
        .owner-heading.align-center
            h3 our faculty

        .teacher-main 
            .result-box.align-center.teacher-box
                .result-img 
                    img(src="/./images/sumit.png", alt="") 
                span.result-name Sumit Kumar Rath
                p.para 10+ years of experience as math teacher at school and coaching level.
                .marks.align-center
                    span math
            .result-box.align-center.teacher-box
                .result-img 
                    img(src="/./images/madhu.png", alt="") 
                span.result-name Madhusudan Sahu
                p.para 20+ years of experience as science and geography teacher at school.
                .marks.align-center
                    span Sst
            .result-box.align-center.teacher-box
                .result-img 
                    img(src="/./images/mano.png", alt="") 
                span.result-name Manoranjan Ku. Dash
                p.para 12+ years of experience as hindi teacher at school & college level.
                .marks.align-center
                    span Hindi
            .result-box.align-center.teacher-box
                .result-img 
                    img(src="/./images/samuel.png", alt="") 
                span.result-name Samuel Mallik
                p.para 15+ years of experience as english  teacher at school & college level.
                .marks.align-center
                    span Eng
            .result-box.align-center.teacher-box
                .result-img 
                    img(src="/./images/tushar.png", alt="") 
                span.result-name Tusharkanta Dash
                p.para 20+ years of experience as math  teacher at level.
                .marks.align-center
                    span math
            .result-box.align-center.teacher-box
                .result-img 
                    img(src="/./images/alekha.png", alt="") 
                span.result-name Alekha Kumbhar
                p.para 8+ years of experience as social studies teacher at school & coaching level.
                .marks.align-center
                    span Sst
            .result-box.align-center.teacher-box
                .result-img 
                    img(src="/./images/sitaram.png", alt="") 
                span.result-name Sitaram Singbabu
                p.para 9+ years of experience as math teacher at school & coaching level.
                .marks.align-center
                    span math
            .result-box.align-center.teacher-box
                .result-img 
                    img(src="/./images/jiten.png", alt="") 
                span.result-name Jiten Dandasena
                p.para 10+ years of experience as a english teacher at heigh school.
                .marks.align-center
                    span Eng
            .result-box.align-center.teacher-box
                .result-img 
                    img(src="/./images/sujit.png", alt="") 
                span.result-name Sujit Ku. Mishra
                p.para 8+ years of experience and Gold medalist in M.Sc, VSSUT (Burla)
                .marks.align-center
                    span Bio
            .result-box.align-center.teacher-box
                .result-img 
                    img(src="/./images/ritik.png", alt="") 
                span.result-name Ritik Maharana
                p.para 7+ years of experience as a chemistry teacher at college level.
                .marks.align-center
                    span Chem
            .result-box.align-center.teacher-box
                .result-img 
                    img(src="/./images/sourav.png", alt="") 
                span.result-name Sourav Ranjan Pradhan
                p.para 5+ years of experience as a science teacher at school level.
                .marks.align-center
                    span Bio
            .result-box.align-center.teacher-box
                .result-img 
                    img(src="/./images/pritam.png", alt="") 
                span.result-name Pritam Meher
                p.para Dedicated young profetional in the world of english education.
                .marks.align-center
                    span Eng